# Authentication
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/dilitech_db"

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_test_your-stripe-publishable-key
STRIPE_SECRET_KEY=sk_test_your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=whsec_your-webhook-secret

# M-Pesa (Safaricom Sandbox)
MPESA_CONSUMER_KEY=uEgO547fd89JJhmfcg6Gi44erlyQZHRBDiHLUH3VuWrZSAP
MPESA_CONSUMER_SECRET=Hra95zCLlA9E4eeKWQNdAqzEIOz9f8pAkATAmnOLQgeAF9ArSoWA4brdWqZR3xQB
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_CALLBACK_URL=http://127.0.0.1:4040/api/payments/mpesa

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
